
// Import Compass
@import 'compass';
@import "compass/reset";

// Import Susy
@import "susy";
$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box
);

@include border-box-sizing;

// Varables
@import "modules/varables";

// Mixin
@import "modules/mixin";


//
//----------------
html,
body {
  height: 100%;
  overflow: hidden;
}
@mixin base-font {
  font-size: ceil($baseFontSize * 1) * 1px;
  line-height: $baseLineHeight;
}
body {
  font-family: $baseFontFamily;
  color: $colorGrayDarker;
  @include base-font;
}
@mixin link {
  font-size: ceil($baseFontSize * 1.1428) * 1px;
  font-style: italic;
  text-decoration: underline;
}
a {
  @include link;
}
h1 {
  font-size: ceil($baseFontSize * 3.428) * 1px;
  line-height: 1.1333;
  margin-bottom: .2666em;
  font-weight: 700;
}
h2 {
  font-size: ceil($baseFontSize * 2.571) * 1px;
  line-height: 1.1666;
  margin-bottom: .4555em;
  font-weight: 300;
}
h3 {
  font-size: ceil($baseFontSize * 2.285) * 1px;
  line-height: 1.2666;
  margin-bottom: .4em;
  font-weight: 600;
}
h4 {
  font-size: ceil($baseFontSize * 1.642) * 1px;
  line-height: 1.3666;
  margin-bottom: .4555em;
}
h5 {
  font-size: ceil($baseFontSize * 1.428) * 1px;
  line-height: 1.4666;
  margin-bottom: .5em;
}
h6 {
  font-size: ceil($baseFontSize * 1.142) * 1px;
  line-height: 1.5;
  margin-bottom: .4555em;
  text-transform: uppercase;
  font-weight: 400;
}
thead th,
thead td,
tfoot th,
tfoot td {
  background-color: $tfootBackgroundColor;
}
th, td {
  border-bottom: $cellBorder;
  padding: 0.5em 0.8em;
}
table caption {
  text-transform: uppercase;
  padding: 0 1em;
  color: $colorGrayLight;
  font-size: $smallFontSize;
}
table {
  &.table-bordered {
    td, th {
      border: 1px solid $colorStripedTable;
    }
  }
  &.table-stroked {
    border-top: 1px solid $colorStripedTable;
    border-left: 1px solid $colorStripedTable;
    td, th {
      border-bottom: 1px solid $colorStripedTable;
      border-right: 1px solid $colorStripedTable;
    }
  }
  &.table-striped {
    tbody tr:nth-child(even) td {
      background-color: lighten($colorStripedTable, 100);
    }
    tbody tr:nth-child(odd) td {
      background-color: $colorStripedTable;
    }
  }
  &.table-hovered tbody tr:hover td,
  &.table-hovered thead tr:hover th {
    background-color: $colorHoveredTable;
  }
}

// help
%lowercase, .lowercase {
  text-transform: lowercase;
}
%pd-t-b-theta, .pd-t-b-theta {
  padding: $theta 0;
}
%pd-t-b-zeta, .pd-t-b-zeta {
  padding: $zeta 0;
}
%pd-t-b-epsilon, .pd-t-b-epsilon {
  padding: $epsilon 0;
}

// color
.aquamarine { background-color: $colorAquamarine;}
.fiord { background-color: $colorFiord;}
.lochmara { background-color: $colorLochmara;}
.atlantis { background-color: $colorAtlantis;}
.yellow-orange { background-color: $colorYellowOrange;}
.carnation { background-color: $colorCarnation;}
.amethyst { background-color: $colorAmethyst;}

.pink { background-color: $pink;}
.peach { background-color: $peach;}
.orange { background-color: $orange;}
.plum { background-color: $plum;}
.grey { background-color: $grey;}
.light-pink { background-color: $light-pink;}

.gradient-primary { @include gradient-primary;}
.gradient-secondary { @include gradient-secondary;}

.graylightest { background-color: $colorGrayLightest;}
.graylighter { background-color: $colorGrayLighter;}
.graylight { background-color: $colorGrayLight;}
.gray { background-color: $colorGray;}
.graydark { background-color: $colorGrayDark;}
.graydarker { background-color: $colorGrayDarker;}
.graydarkest { background-color: $colorGrayDarkest;}

// button
.button {
  // reset a teg
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  color: $colorPrimaryA;
  text-align: center;
  padding: .825rem 2.5rem .825rem 2.5rem;
  @include border-radius(3px);
  @include transition(all ease .4s);
  &:hover {
    background-color: transparent;
    @include box-shadow(0 .25em .5em rgba($colorGrayDarkest,.5))
  }
}
.pill {
  border-radius: 25px;
}
@mixin button-stoke {
  color: $colorPrimaryA;
  border-color: $colorPrimaryA;
  border-width: 2px;
  border-style: solid;
  background: transparent;
}
@mixin button-fill {
  @include button-stoke;
  color: $colorGrayLightest;
  background-color: $colorPrimaryA;
}
.stroke {
  @include button-stoke;
}
.fill {
  @include button-fill;
  &:hover {
    @extend .stroke;
  }
}
.gradient {
  &.fill {
    @include button-fill;
    @include border-gradient($GradientAStart, $GradientAEnd, 1px);
    @include gradient-primary;
    &:hover {
      @include button-fill;
    }
  }
  &.stroke {
    @include button-stoke;
    @include box-gradient($GradientAStart, $GradientAEnd, 1px);
    border-width: 0;
  }
}

.style-guidelins {
  hr {
    border: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-top-color: $colorGrayLighter;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  code {
    font-size: ($baseFontSize * .8) * 1px;
    color: darken($colorSecondaryR, 20%);
    @include border-radius(2px);
    @include box-shadow(0 0 5px $colorGrayLighter inset);
    background-color: $colorGrayLightest;
    padding: .15em .5em;
    &.class {
      @extend %lowercase;
    }
    &.code {

    }
  }
  .row {
    @include container;
  }
  &.wrapper-container {
    @include container;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  .sidebar {
    @include span(3 of 12);
    background-color: #f9f9f9;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $colorPrimaryA;
    }
  }
  .categories {
    @include reset-list-style;
    @include reset-box-model;
  }
  %selected {
    background-color: white;
    font-weight: 600;
    border-left: 4px solid $peach;
  }
  .categor__item {
    a {
      display: block;
      padding: 15px 40px;
      font-weight: 400;
      border-bottom: 1px solid white;
      color: $colorGrayDarker;
      border-left: 0px solid $peach;
      font-style: normal;
      text-decoration: none;
      cursor: pointer;
      transition: all ease .4s;
      &:hover, &:active, &:focus {
        @extend %selected;
      }
    }
  }
  .main-content {
    @include span(9 of 12 last);
    padding-top: 100px;
  }
  .page-title {
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 15px 60px;
    width: 100%;
    top:0;
    left: 25%;
    @include box-shadow(0 1px 1px rgba($colorGray, 0.25));
    h1 {
      font-size: 24px;
    }
  }
  .logo {
    img {
      width: 50%;
      margin: 10% 25%;
      border-radius: 100%;
    }
    border-bottom: 1px solid white;
  }

  //COLOR
  .color {
    .row + h3 {
      margin-top: $zeta;
    }
    .color-block {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 5px 0;
      float: left;
    }
    .row {
      @extend .pd-t-b-zeta;
    }
    .color-primary {
      .color-item {
        @include span(1 of 4);
      }
    }
    .color-secondary {
      .color-item {
        @include span(1 of 5);
      }
    }
    .color-gray {
      .color-item {
        @include span(1 of 7);
      }
    }
  }

  //TYPOGRAPHY
  .typography {
    .row {
      @extend %pd-t-b-theta;
    }
    .h1 {
      @extend h1;
    }
    .h2 {
      @extend h2;
    }
    .h3 {
      @extend h3;
    }
    .p {
      @include span(1 of 2);
      @include base-font;
    }
    .a {
      @include link;
    }
  }

  //BUTTON
  .button {
    &-item {
      @include span(1 of 4);
    }
    & + .button {
      margin-top: 1em;
    }
  }




}



.content {

}
.separator {
  padding: 0 .5em 0 .5em;
}
.material {
  @extend %pd-t-b-epsilon;
}

.material {
  position: relative;
  z-index: 0;
  padding-left: 60px;
  padding-right: 60px;
  p {
    width: 70%;
  }
  h2 {
    font-size: 36px;
    padding-bottom: 20px;
    color: $pink;
  }
  h3 {
    font-size: 20px;
  }
  h6 {
    font-size: 14px;
    color: #959595;
  }

}

.break {
  display: none;
}










//LIST
.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 1em;
    text-indent: -.7em;
  }
}
@mixin list-style($var) {
  li:before {
    content: "• ";
    color: $var;
    padding-right: 7px;
  }
}
.aquamarine {
  @include list-style($colorAquamarine);
}
.fiord {
  @include list-style($colorFiord);
}
.lochmara {
  @include list-style($colorLochmara);
}
.atlantis {
  @include list-style($colorAtlantis);
}
.yellow-orange {
  @include list-style($colorYellowOrange);
}
.carnation {
  @include list-style($colorCarnation);
}
.amethyst {
  @include list-style($colorAmethyst);
}


//TAB
.tab {
  .row {
    margin: 0;
  }
}

.tabs {
  .tab-title {
    width: 25%;
    a {
      outline: none;
      text-transform: uppercase;
      text-align: center;
      color: $grey;
      font-weight: 600;
      background: #f6f6f6;
      border-top: 2px solid #f6f6f6;
      border-bottom: 1px solid #f1f1f1;
      border-right: 1px solid white;
      transition: all ease .4;
      &:hover {
        background: #f9f9f9;
        border-bottom: 1px solid #f9f9f9;
        border-top: 2px solid #f9f9f9;
      }
    }
  }
  .active {
    a, a:hover {
      background-color: #f9f9f9 !important;
      border-top: 2px solid $pink;
      border-bottom: 1px solid #f9f9f9;
      border-right: 1px solid #f1f1f1;
      border-left: 1px solid #f1f1f1;
    }
  }
}

.tabs-content {
  background: #f9f9f9;
  padding: 20px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

//TABLE
// table {
//   border: none;
//   border-spacing: 0;
//   tr:first-child {
//     th:first-child {
//       border-radius: 3px 0 0 0;
//     }
//     th:last-child {
//       border-radius: 0 3px 0 0;
//     }
//   }
//   tr:last-child {
//     td:first-child {
//       border-radius: 0 0 0 3px;
//     }
//     td:last-child {
//       border-radius: 0 0 3px 0;
//     }
//   }
//   tr {
//     td, th {
//       padding-left: 1em;
//     }
//     th {
//       border-right: 1px solid rgba(255, 255, 255, 1);
//       // width: 150px;
//       font-weight: 600;
//     }
//     td {
//       border-right: 1px solid rgba(240, 240, 240, 1);
//     }
//     th:last-child,
//     td:last-child {
//       border-right: none;
//     }
//   }
// }

.table {
  .row {
    margin: 0px;
  }
  .bg-white {
    background-color: rgba(250, 250, 250, .5);
    padding-top: 20px;
  }
  .bg-dark {
    background-color: $grey;
    padding: 10px;
  }
  .pink {
    tr:first-child {
      background: $light-pink;
    }
  }
  .peach {
    tr:first-child {
      background: $peach;
      th {
        color: white;
      }
    }
  }
}

//FORM
.form {
  margin-bottom: 90px;
  input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: transparent;
    box-shadow: none;
  }
  input:active,
  input:focus {
    border-bottom: 1px solid $peach;
    background: transparent;
  }
  select {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    outline: none;
    background: transparent;
    &:hover {
      border-bottom: 1px solid $peach;
    }
  }
  textarea {
    border: 1px solid rgba(0, 0, 0, .1);
    background: transparent;
    box-shadow: none;
  }
  textare:active,
  textare:focus {
    border-bottom: 1px solid $peach;
    background: rgba(255, 255, 255, .3)
  }
  .light-bg {
    background-color: #f9f9f9;
    padding: 20px 30px;
    border-top: 3px solid $peach;
  }
  .dark-bg {
    background-color: $grey;
    padding: 20px 30px;
    border-top: 3px solid $peach;
    color: white;
    input, label, select, textarea {
      color: white;
    }
    input {
      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    input:active,
    input:focus {
      border-bottom: 1px solid $peach;
    }
    select {
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      &:hover {
        border-bottom: 1px solid $peach;
      }
    }
    textarea {
      border: 1px solid rgba(255, 255, 255, .3);
    }
  }
}

.anchor {
  display: block;
  height: 115px;
  /*same height as header*/

  margin-top: -115px;
  /*same height as header*/

  visibility: hidden;
}

//Responsive
@media only screen and (max-width: 64em) {
  .sidebar {
    display: none;
  }
  .title {
    padding: 10px 30px;
    img {
      display: inline-block;
    }
    h1 {
      font-size: 18px;
      span {
        display: inline
      }
    }
  }
  .material {
    position: relative;
    z-index: 0;
    padding-left: 30px;
    padding-right: 30px;
    p {
      width: 100%;
      font-size: 13px;
    }
    h2 {
      font-size: 36px;
      padding-bottom: 10px;
    }
    h3 {
      font-size: 20px;
    }
    h6 {
      font-size: 13px;
    }
    hr {
      margin: 40px 0;
    }
  }
  .separator {
    display: none;
  }
  .break {
    display: inline;
  }
  .typography {
    .h1 {
      font-size: 70px;
    }
    .h2 {
      font-size: 50px;
    }
    .p {
      width: 100%;
    }
  }
}
