
// Import Compass
@import 'compass';
@import "compass/reset";

// Import Susy
@import "susy";
$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box
);

@include border-box-sizing;

// Varables
@import "modules/varables";

// Mixin
@import "modules/mixin";


//
//----------------
html,
body {
  height: 100%;
  overflow: hidden;
}
@mixin base-font {
  font-size: ceil($baseFontSize * 1) * 1px;
  line-height: $baseLineHeight;
}
body {
  font-family: $baseFontFamily;
  color: $colorBody;
  @include base-font;
}
@mixin link {
  font-size: ceil($baseFontSize * 1.1428) * 1px;
  font-style: italic;
  text-decoration: underline;
}
a {
  @include link;
}
h1 {
  font-size: ceil($baseFontSize * 3.428) * 1px;
  line-height: 1.1333;
  margin-bottom: .2666em;
  font-weight: 700;
}
h2 {
  font-size: ceil($baseFontSize * 2.571) * 1px;
  line-height: 1.1666;
  margin-bottom: .4555em;
  font-weight: 300;
}
h3 {
  font-size: ceil($baseFontSize * 2.285) * 1px;
  line-height: 1.2666;
  margin-bottom: .4em;
  font-weight: 600;
}
h4 {
  font-size: ceil($baseFontSize * 1.642) * 1px;
  line-height: 1.3666;
  margin-bottom: .4555em;
}
h5 {
  font-size: ceil($baseFontSize * 1.428) * 1px;
  line-height: 1.4666;
  margin-bottom: .5em;
}
h6 {
  font-size: ceil($baseFontSize * 1.142) * 1px;
  line-height: 1.5;
  margin-bottom: .4555em;
  text-transform: uppercase;
  font-weight: 400;
}
thead th,
thead td,
tfoot th,
tfoot td {
  background-color: $tfootBackgroundColor;
}
th, td {
  border-bottom: $cellBorder;
  padding: 0.5em 0.8em;
}
table caption {
  text-transform: uppercase;
  padding: 0 1em;
  color: $colorGrayLight;
}
table {
  &.table-bordered {
    td, th {
      border: 1px solid $colorStripedTable;
    }
  }
  &.table-stroked {
    th, td {
      border-bottom: 1px solid $colorStripedTable;
      border-right: 1px solid $colorStripedTable;
    }
    th, td {
      &:last-child {
        border-right: none;
      }
    }
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  &.table-striped {
    tbody tr:nth-child(even) td {
      background-color: lighten($colorStripedTable, 100);
    }
    tbody tr:nth-child(odd) td {
      background-color: $colorStripedTable;
    }
  }
  &.table-hovered tbody tr:hover td,
  &.table-hovered thead tr:hover th {
    background-color: $colorHoveredTable;
  }
}

$inputType: 'input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="phone"],input[type="tel"],input[type="number"],input[type="datetime"],input[type="date"],input[type="search"],input[type="range"],input[type="file"],input[type="datetime-local"]';
$inputfiled: 'textarea,select,button';

#{$inputType},#{$inputfiled} {

  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
#{$inputType},
textarea,
select[multiple="multiple"] {
  position: relative;
  @include base-font;
  font-family: $inputFontFamily;
  color: $colorBody;
  border: 1px solid #ccc;
  margin: 0;
  padding: .8em 1em 1em 1em;
  background-color: white;
  border-radius: 3px;
  @include box-shadow(0 0 2px rgba(0, 0, 0, .1) inset);
  @include transition(border ease .5s);
  z-index: 2;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
textarea {
  line-height: 1.4em;
}
select {
  margin-bottom: 0 !important;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: $colorSecondaryR;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryR, .3),0 1px 2px rgba(0, 0, 0, .2) inset);
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success  {
  border-color: $colorSecondaryG;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryG, .3),0 1px 2px rgba(0, 0, 0, .2) inset);
}
input.input-warning,
textarea.input-warning,
select.input-warning,
.input-warning {
  border-color: $colorSecondaryY;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryY, .3),0 1px 2px rgba(0, 0, 0, .2) inset);
}
input:focus,
textarea:focus {
  outline: none;
  border-color: $colorSecondaryB;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryB, .3), 0 1px 2px rgba(0, 0, 0, .2) inset);
}
@mixin placeholder($color: $input-color-placeholder) {
  :-moz-placeholder            { color: $color; } // Firefox 4-18
  ::-moz-placeholder           { color: $color; } // Firefox 19+
  :-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
  ::-webkit-input-placeholder  { color: $color; padding: 2px; } // Safari and Chrome
}
@include placeholder($colorGrayLight);


// help
%lowercase, .lowercase {
  text-transform: lowercase;
}
%pd-t-b-theta, .pd-t-b-theta {
  padding: $theta 0;
}
%pd-t-b-zeta, .pd-t-b-zeta {
  padding: $zeta 0;
}
%pd-t-b-epsilon, .pd-t-b-epsilon {
  padding: $epsilon 0;
}

// Grid
// Grid
// Grid Mixin
@mixin block($num) {
  width: (($gridWidth - ($gridGutterWidth * $num)) / $num / ($gridWidth / 100)) * 1%;
}

@mixin column($num) {
  width: (($gridWidth - ($gridGutterWidth * ($num - 1))) / $num / ($gridWidth / 100)) * 1%;
}

@mixin columns($factor, $num) {
  width: ((($gridWidth - ($gridGutterWidth * ($num - 1))) / $num / ($gridWidth / 100)) * $factor) + (($gridGutterWidth / ($gridWidth / 100)) * ($factor - 1)) * 1%;
}

@mixin column-push($num) {
  left: ((($gridWidth - ($gridGutterWidth * ($num - 1))) / $num / ($gridWidth / 100)) + $gridGutterWidth/($gridWidth/100)) * 1%;
}

@mixin columns-push($factor, $num) {
  left: (((($gridWidth - ($gridGutterWidth * ($num - 1))) / $num / ($gridWidth / 100)) * $factor) + (($gridGutterWidth / ($gridWidth / 100)) * ($factor - 1)) + $gridGutterWidth/($gridWidth/100)) * 1%;
}
/* =Grid
-----------------------------------------------------------------------------*/
.units-container,
.units-row-end,
.units-row {
  @include pie-clearfix;
}
.units-container { /* it's the trick to not collapse padding-top in the child element */
  padding-top: 1px;
    margin-top: -1px;
}
.units-container,
.units-row-end,
.units-row {
  @include box-sizing(border-box);
}
.units-row {
  margin-bottom: 1.5em;
}
.units-row-end {
  margin-bottom: 0;
}

.width-100, .unit-100 { width: 100%;  }
.width-80, .unit-80   { width: 80%;   }
.width-75, .unit-75   { width: 75%;   }
.width-70, .unit-70   { width: 70%;   }
.width-66, .unit-66   { width: 66.6%; }
.width-60, .unit-60   { width: 60%;   }
.width-50, .unit-50   { width: 50%;   }
.width-40, .unit-40   { width: 40%;   }
.width-33, .unit-33   { width: 33.3%; }
.width-30, .unit-30   { width: 30%;   }
.width-25, .unit-25   { width: 25%;   }
.width-20, .unit-20   { width: 20%;   }

input.width-100,
input.unit-100    { width: 98.6%; }
textarea.width-100,
textarea.unit-100 { width: 98.8%; }
select.width-100,
select.unit-100   { width: 99.4%; }

.width-100,
.width-80,
.width-75,
.width-70,
.width-66,
.width-60,
.width-50,
.width-40,
.width-33,
.width-30,
.width-25,
.width-20,
.units-row .unit-100,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row-end .unit-100,
.units-row-end .unit-80,
.units-row-end .unit-75,
.units-row-end .unit-70,
.units-row-end .unit-66,
.units-row-end .unit-60,
.units-row-end .unit-50,
.units-row-end .unit-40,
.units-row-end .unit-33,
.units-row-end .unit-30,
.units-row-end .unit-25,
.units-row-end .unit-20 {
  @include box-sizing(border-box);
}
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row-end .unit-100,
.units-row-end .unit-80,
.units-row-end .unit-75,
.units-row-end .unit-70,
.units-row-end .unit-66,
.units-row-end .unit-60,
.units-row-end .unit-50,
.units-row-end .unit-40,
.units-row-end .unit-33,
.units-row-end .unit-30,
.units-row-end .unit-25,
.units-row-end .unit-20 {
  float: left;
  margin-left: $gridGutterWidth/($gridWidth/100)*1%;
}
.units-row .unit-80:first-child,
.units-row .unit-75:first-child,
.units-row .unit-70:first-child,
.units-row .unit-66:first-child,
.units-row .unit-60:first-child,
.units-row .unit-50:first-child,
.units-row .unit-40:first-child,
.units-row .unit-33:first-child,
.units-row .unit-30:first-child,
.units-row .unit-25:first-child,
.units-row .unit-20:first-child,
.units-row-end .unit-100:first-child,
.units-row-end .unit-80:first-child,
.units-row-end .unit-75:first-child,
.units-row-end .unit-70:first-child,
.units-row-end .unit-66:first-child,
.units-row-end .unit-60:first-child,
.units-row-end .unit-50:first-child,
.units-row-end .unit-40:first-child,
.units-row-end .unit-33:first-child,
.units-row-end .unit-30:first-child,
.units-row-end .unit-25:first-child,
.units-row-end .unit-20:first-child {
  margin-left: 0;
}
.units-row .unit-80,
.units-row-end .unit-80 { @include columns(4, 5); }
.units-row .unit-75,
.units-row-end .unit-75 { @include columns(3, 4); }
.units-row .unit-70,
.units-row-end .unit-70 { @include columns(7, 10); }
.units-row .unit-66,
.units-row-end .unit-66 { @include columns(2, 3); }
.units-row .unit-60,
.units-row-end .unit-60 { @include columns(3, 5); }
.units-row .unit-50,
.units-row-end .unit-50 { @include column(2); }
.units-row .unit-40,
.units-row-end .unit-40 { @include columns(2, 5); }
.units-row .unit-30,
.units-row-end .unit-30 { @include columns(3, 10); }
.units-row .unit-33,
.units-row-end .unit-33 { @include column(3); }
.units-row .unit-25,
.units-row-end .unit-25 { @include column(4); }
.units-row .unit-20,
.units-row-end .unit-20 { @include column(5); }

.unit-push-80,
.unit-push-75,
.unit-push-70,
.unit-push-66,
.unit-push-60,
.unit-push-50,
.unit-push-40,
.unit-push-33,
.unit-push-30,
.unit-push-25,
.unit-push-20 {
  position: relative;
}
.unit-push-30 { @include columns-push(3, 10); }
.unit-push-80 { @include columns-push(4, 5); }
.unit-push-75 { @include columns-push(3, 4); }
.unit-push-70 { @include columns-push(7, 10); }
.unit-push-66 { @include columns-push(2, 3); }
.unit-push-60 { @include columns-push(3, 5); }
.unit-push-50 { @include column-push(2); }
.unit-push-40 { @include columns-push(2, 5); }
.unit-push-33 { @include column-push(3); }
.unit-push-25 { @include column-push(4); }
.unit-push-20 { @include column-push(5); }

.unit-push-right {
  float: right;
}

.centered,
.unit-centered {
  float: none !important;
  margin: 0 auto !important;
}

.unit-padding {
  padding: $baseLine *1px;
}
.units-padding .unit-100,
.units-padding .unit-80,
.units-padding .unit-75,
.units-padding .unit-70,
.units-padding .unit-66,
.units-padding .unit-60,
.units-padding .unit-50,
.units-padding .unit-40,
.units-padding .unit-33,
.units-padding .unit-30,
.units-padding .unit-25,
.units-padding .unit-20 {
  padding: $baseLine *1px;
}

.units-split .unit-80,
.units-split .unit-75,
.units-split .unit-70,
.units-split .unit-66,
.units-split .unit-60,
.units-split .unit-50,
.units-split .unit-40,
.units-split .unit-33,
.units-split .unit-30,
.units-split .unit-25,
.units-split .unit-20 {
  margin-left: 0;
}
.units-split .unit-80 { width: 80%;   }
.units-split .unit-75 { width: 75%;   }
.units-split .unit-70 { width: 70%;   }
.units-split .unit-66 { width: 66.6%; }
.units-split .unit-60 { width: 60%;   }
.units-split .unit-50 { width: 50%;   }
.units-split .unit-40 { width: 40%;   }
.units-split .unit-33 { width: 33.3%; }
.units-split .unit-30 { width: 30%;   }
.units-split .unit-25 { width: 25%;   }
.units-split .unit-20 { width: 20%;   }

// color
.aquamarine { background-color: $colorAquamarine;}
.fiord { background-color: $colorFiord;}
.lochmara { background-color: $colorLochmara;}
.atlantis { background-color: $colorAtlantis;}
.yellow-orange { background-color: $colorYellowOrange;}
.carnation { background-color: $colorCarnation;}
.amethyst { background-color: $colorAmethyst;}

.pink { background-color: $pink;}
.peach { background-color: $peach;}
.orange { background-color: $orange;}
.plum { background-color: $plum;}
.grey { background-color: $grey;}
.light-pink { background-color: $light-pink;}

.gradient-primary { @include gradient-primary;}
.gradient-secondary { @include gradient-secondary;}

.graylightest { background-color: $colorGrayLightest;}
.graylighter { background-color: $colorGrayLighter;}
.graylight { background-color: $colorGrayLight;}
.gray { background-color: $colorGray;}
.graydark { background-color: $colorGrayDark;}
.graydarker { background-color: $colorGrayDarker;}
.graydarkest { background-color: $colorGrayDarkest;}

// button
.button, button {
  // reset a teg
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  color: $colorPrimaryA;
  text-align: center;
  padding: .825rem 2.5rem .825rem 2.5rem;
  @include border-radius(3px);
  @include transition(all ease .4s);
  &:hover {
    background-color: transparent;
    @include box-shadow(0 .25em .5em rgba($colorGrayDarkest,.5))
  }
}
.pill {
  border-radius: 25px;
}
@mixin button-stoke {
  color: $colorPrimaryA;
  border-color: $colorPrimaryA;
  border-width: 2px;
  border-style: solid;
  background: transparent;
}
@mixin button-fill {
  @include button-stoke;
  color: $colorGrayLightest;
  background-color: $colorPrimaryA;
}
.stroke {
  @include button-stoke;
}
.fill {
  @include button-fill;
  &:hover {
    @extend .stroke;
  }
}
.gradient {
  &.fill {
    @include button-fill;
    @include border-gradient($GradientAStart, $GradientAEnd, 1px);
    @include gradient-primary;
    &:hover {
      @include button-fill;
    }
  }
  &.stroke {
    @include button-stoke;
    @include box-gradient($GradientAStart, $GradientAEnd, 1px);
    border-width: 0;
  }
}

.style-guidelins {
  hr {
    border: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-top-color: $colorGrayLighter;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  code {
    font-size: ($baseFontSize * .8) * 1px;
    color: darken($colorSecondaryR, 20%);
    @include border-radius(2px);
    @include box-shadow(0 0 5px $colorGrayLighter inset);
    background-color: $colorGrayLightest;
    padding: .15em .5em;
    &.class {
      @extend %lowercase;
    }
    &.code {

    }
  }
  .row {
    @include container;
  }
  &.wrapper-container {
    @include container;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  .sidebar {
    @include span(3 of 12);
    background-color: #f9f9f9;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $colorPrimaryA;
    }
  }
  .categories {
    @include reset-list-style;
    @include reset-box-model;
  }
  %selected {
    background-color: white;
    font-weight: 600;
    border-left: 4px solid $peach;
  }
  .categor__item {
    a {
      display: block;
      padding: 15px 40px;
      font-weight: 400;
      border-bottom: 1px solid white;
      color: $colorGrayDarker;
      border-left: 0px solid $peach;
      font-style: normal;
      text-decoration: none;
      cursor: pointer;
      transition: all ease .4s;
      &:hover, &:active, &:focus {
        @extend %selected;
      }
    }
  }
  .main-content {
    @include span(9 of 12 last);
    padding-top: 100px;
  }
  .page-title {
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 15px 60px;
    width: 100%;
    top:0;
    left: 25%;
    @include box-shadow(0 1px 1px rgba($colorGray, 0.25));
    h1 {
      font-size: 24px;
    }
  }
  .logo {
    img {
      width: 50%;
      margin: 10% 25%;
      border-radius: 100%;
    }
    border-bottom: 1px solid white;
  }

  //COLOR
  .color {
    .row + h3 {
      margin-top: $zeta;
    }
    .color-block {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 5px 0;
      float: left;
    }
    .row {
      @extend .pd-t-b-zeta;
    }
    .color-primary {
      .color-item {
        @include span(1 of 4);
      }
    }
    .color-secondary {
      .color-item {
        @include span(1 of 5);
      }
    }
    .color-gray {
      .color-item {
        @include span(1 of 7);
      }
    }
  }

  //TYPOGRAPHY
  .typography {
    .row {
      @extend %pd-t-b-theta;
    }
    .h1 {
      @extend h1;
    }
    .h2 {
      @extend h2;
    }
    .h3 {
      @extend h3;
    }
    .p {
      @include span(1 of 2);
      @include base-font;
    }
    .a {
      @include link;
    }
  }

  //BUTTON
  .button {
    &-item {
      @include span(1 of 4);
    }
    & + .button {
      margin-top: 1em;
    }
  }

  //TABLE
  .table {
    &-item {
      @include span(1 of 4);
    }
  }

  //TABLE
  .form {
    &-item {
      @include span(1 of 3);
    }
  }


}



.content {

}
.separator {
  padding: 0 .5em 0 .5em;
}
.material {
  @extend %pd-t-b-epsilon;
}

.material {
  position: relative;
  z-index: 0;
  padding-left: 60px;
  padding-right: 60px;
  p {
    width: 70%;
  }
  h2 {
    font-size: 36px;
    padding-bottom: 20px;
    color: $pink;
  }
  h3 {
    font-size: 20px;
  }
  h6 {
    font-size: 14px;
    color: #959595;
  }

}

.break {
  display: none;
}










//LIST
.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-left: 1em;
    text-indent: -.7em;
  }
}
@mixin list-style($var) {
  li:before {
    content: "• ";
    color: $var;
    padding-right: 7px;
  }
}
.aquamarine {
  @include list-style($colorAquamarine);
}
.fiord {
  @include list-style($colorFiord);
}
.lochmara {
  @include list-style($colorLochmara);
}
.atlantis {
  @include list-style($colorAtlantis);
}
.yellow-orange {
  @include list-style($colorYellowOrange);
}
.carnation {
  @include list-style($colorCarnation);
}
.amethyst {
  @include list-style($colorAmethyst);
}


//TAB
.tab {
  .row {
    margin: 0;
  }
}

.tabs {
  @include reset-box-model;
  @include reset-list-style;
  text-align: center;
  font-size: 0;
  background-color: white;
  .tab-title {
    display: inline-block;
    a {
      display: block;
      outline: none;
      text-decoration: none;
      font-style: normal;
      text-align: center;
      transition: all ease .4;
      padding: 10px 50px;
      color: $colorPrimaryA;
      &:hover {
        background: $colorGrayLighter;
      }
    }
  }
  .current {
    a, a:hover {
      color: $colorGrayLightest;
      background-color: $colorPrimaryA;
      @include box-shadow(inset 0px -2px 0px 0px rgba(0,0,0,0.08), inset 0px 2px 0px 0px rgba(0,0,0,0.08))
    }
  }
}

.tabs-content {
  padding: 20px;
  border-top: 1px solid $colorGrayLighter;
}
.tabs-item {
  display: none;
  &:first-child {
    display: block;
  }
}

//FORM
// .form {
//   margin-bottom: 90px;
//   input {
//     outline: none;
//     border: none;
//     border-bottom: 1px solid rgba(0, 0, 0, .1);
//     background: transparent;
//     box-shadow: none;
//   }
//   input:active,
//   input:focus {
//     border-bottom: 1px solid $peach;
//     background: transparent;
//   }
//   select {
//     border: none;
//     border-bottom: 1px solid rgba(0, 0, 0, .1);
//     outline: none;
//     background: transparent;
//     &:hover {
//       border-bottom: 1px solid $peach;
//     }
//   }
//   textarea {
//     border: 1px solid rgba(0, 0, 0, .1);
//     background: transparent;
//     box-shadow: none;
//   }
//   textare:active,
//   textare:focus {
//     border-bottom: 1px solid $peach;
//     background: rgba(255, 255, 255, .3)
//   }
//   .light-bg {
//     background-color: #f9f9f9;
//     padding: 20px 30px;
//     border-top: 3px solid $peach;
//   }
//   .dark-bg {
//     background-color: $grey;
//     padding: 20px 30px;
//     border-top: 3px solid $peach;
//     color: white;
//     input, label, select, textarea {
//       color: white;
//     }
//     input {
//       border-bottom: 1px solid rgba(255, 255, 255, .3);
//     }
//     input:active,
//     input:focus {
//       border-bottom: 1px solid $peach;
//     }
//     select {
//       border-bottom: 1px solid rgba(255, 255, 255, .3);
//       &:hover {
//         border-bottom: 1px solid $peach;
//       }
//     }
//     textarea {
//       border: 1px solid rgba(255, 255, 255, .3);
//     }
//   }
// }
/* =Forms
-----------------------------------------------------------------------------*/
$fieldsBottom: 1.65em;

button.button {
  // @extend .button;
  @include link;
}
.forms label {
  display: block;
  margin-bottom: $fieldsBottom;
}
.error,
.success,
.warning {
  font-size: $smallFontSize;
}
.error {
  color:  $colorSecondaryR;
}
.success {
  color: $colorSecondaryG ;
}
.warning {
  color: $colorSecondaryY;
}

.material {
  position: relative;
  z-index: 0;
  padding-left: 30px;
  padding-right: 30px;
  p {
    width: 100%;
    font-size: 13px;
  }
  h2 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 20px;
  }
  h6 {
    font-size: 13px;
  }
  hr {
    margin: 40px 0;
  }
}

