
// Import Compass
@import 'compass';
@import "compass/reset";

// Import Susy
@import "susy";
$columns: 12;
$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box
);

@include border-box-sizing;

// Varables
@import "modules/varables";

// Mixin
@import "modules/mixin";


//
//----------------
html,
body {
  height: 100%;
  overflow: hidden;
}
@mixin base-font {
  font-size: ceil($baseFontSize * 1) * 1px;
  line-height: $baseLineHeight;
}
body {
  font-family: $baseFontFamily;
  color: $colorBody;
  @include base-font;
}

a {
  @include link;
}
$headingFont: (
  _h1: 3.428,
  _h2: 2.571,
  _h3: 2,
  _h4: 1.642,
  _h5: 1.428,
  _h6: 1.142
);
$headingLine: (
  _h1: .75,
  _h2: .8,
  _h3: .85,
  _h4: .9,
  _h5: 1,
  _h6: 1.1
);

// @mixin headings($from: 1, $to: 6) {
//   @for $i from $from through $to {
//     h#{$i}{
//       // @content
//       font-size: ceil($baseFontSize * map-get($headingFont, _h{$i})) * 1px;

//       // line-height: decimal-round($baseLineHeight * #{map-get($headingLine, _h{$i}, 2)});
//       // margin-bottom: decimal-round($baseLineHeight * #{map-get($headingLine, _h{$i}, 2)} / 5 * 1em);
//     }
//   }
// }
// @for $i from 1 through $columns {
//   .width-#{map-get($col, _#{$i})} {
//     width: #{map-get($colwidth, _#{$i})};
//     float: left;
//   }
// }
// @include headings(1,6);

// $baseLineHeight : 1.5;
@mixin heading1 {
  font-size: ceil($baseFontSize * map-get($headingFont, _h1)) * 1px;
  line-height: decimal-round($baseLineHeight * .75, 3);
  margin-bottom: decimal-round($baseLineHeight * .75, 3) / 5 * 1em;
  font-weight: 700;
}
@mixin heading2 {
  font-size: ceil($baseFontSize * 2.571) * 1px;
  line-height: decimal-round($baseLineHeight * .778, 3);
  margin-bottom: decimal-round($baseLineHeight * .778, 3) / 5 * 1em;
  font-weight: 300;
}
@mixin heading3 {
  font-size: ceil($baseFontSize * 2) * 1px;
  line-height: decimal-round($baseLineHeight * .857, 3);
  margin-bottom: decimal-round($baseLineHeight * .857, 3) / 2 * 1em;
  font-weight: 600;
}
@mixin heading4 {
  font-size: ceil($baseFontSize * 1.642) * 1px;
  line-height: decimal-round($baseLineHeight * .927, 3);
  margin-bottom: decimal-round($baseLineHeight * .927, 3) / 5 * 1em;
  font-weight: 700;
}
@mixin heading5 {
  font-size: ceil($baseFontSize * 1.428) * 1px;
  line-height: decimal-round($baseLineHeight, 3);
  margin-bottom: decimal-round($baseLineHeight, 3) / 5 *1em;
  font-weight: 700;
}
@mixin heading6 {
  font-size: ceil($baseFontSize * 1.142) * 1px;
  line-height: decimal-round($baseLineHeight * 1.083, 3);
  margin-bottom: decimal-round($baseLineHeight * 1.083, 2) / 5 *1em;
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  @include heading1;
}
h2 {
  @include heading2;
}
h3 {
  @include heading3;
}
h4 {
  @include heading4;
}
h5 {
  @include heading5;
}
h6 {
  @include heading6;
}
// @for $i from 1 through 6 {
//   h#{$i} {
//     // @include heading#{$i};
//   }
// }


thead th,
thead td,
tfoot th,
tfoot td {
  background-color: $tfootBackgroundColor;
}
th, td {
  border-bottom: $cellBorder;
  padding: 0.5em 0.8em;
}
table caption {
  text-transform: uppercase;
  padding: 0 1em;
  color: $colorGrayLight;
}
table {
  &.table-bordered {
    td, th {
      border: 1px solid $colorStripedTable;
    }
  }
  &.table-stroked {
    th, td {
      border-bottom: 1px solid $colorStripedTable;
      border-right: 1px solid $colorStripedTable;
    }
    th, td {
      &:last-child {
        border-right: none;
      }
    }
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  &.table-striped {
    tbody tr:nth-child(even) td {
      background-color: lighten($colorStripedTable, 100);
    }
    tbody tr:nth-child(odd) td {
      background-color: $colorStripedTable;
    }
  }
  &.table-hovered tbody tr:hover td,
  &.table-hovered thead tr:hover th {
    background-color: $colorHoveredTable;
  }
}

$inputType: 'input[type="text"],input[type="password"],input[type="email"],input[type="url"],input[type="phone"],input[type="tel"],input[type="number"],input[type="datetime"],input[type="date"],input[type="search"],input[type="range"],input[type="file"],input[type="datetime-local"]';
$inputfiled: 'textarea,select,button';

#{$inputType},#{$inputfiled} {

  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: -1px;
}
#{$inputType},
textarea,
select[multiple="multiple"] {
  position: relative;
  @include base-font;
  font-family: $inputFontFamily;
  color: $colorBody;
  border: 1px solid #ccc;
  margin: 0;
  padding: .8em 1em 1em 1em;
  background-color: white;
  border-radius: 3px;
  @include box-shadow(0 0 2px rgba(0, 0, 0, .1) inset);
  @include transition(border ease .5s);
  z-index: 2;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
textarea {
  line-height: 1.4em;
}
select {
  margin-bottom: 0 !important;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  border-color: $colorSecondaryR;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryR, .3),0 1px 2px rgba(0, 0, 0, .2) inset);
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success  {
  border-color: $colorSecondaryG;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryG, .3),0 1px 2px rgba(0, 0, 0, .2) inset);
}
input.input-warning,
textarea.input-warning,
select.input-warning,
.input-warning {
  border-color: $colorSecondaryY;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryY, .3),0 1px 2px rgba(0, 0, 0, .2) inset);
}
input:focus,
textarea:focus {
  outline: none;
  border-color: $colorSecondaryB;
  @include box-shadow(0 0 0 2px rgba($colorSecondaryB, .3), 0 1px 2px rgba(0, 0, 0, .2) inset);
}

@include placeholder($colorGrayLight);


// help
%lowercase, .lowercase {
  text-transform: lowercase;
}
%pd-t-b-theta, .pd-t-b-theta {
  padding: $theta 0;
}
%pd-t-b-zeta, .pd-t-b-zeta {
  padding: $zeta 0;
}
%pd-t-b-epsilon, .pd-t-b-epsilon {
  padding: $epsilon 0;
}
%clearfix, .clearfix {
  @include pie-clearfix;
}

/* =Grid
-----------------------------------------------------------------------------*/
@for $i from 1 through $columns {
  .col-#{$i} {
    @include span($i);
  }
}

$col: (
  _1: 100,
  _2: 80,
  _3: 75,
  _4: 70,
  _5: 66,
  _6: 60,
  _7: 50,
  _8: 40,
  _9: 33,
  _10: 30,
  _11: 25,
  _12: 20
);
$colwidth: (
  _1: 100%,
  _2: 80%,
  _3: 75%,
  _4: 70%,
  _5: 66.6%,
  _6: 60%,
  _7: 50%,
  _8: 40%,
  _9: 33.3%,
  _10: 30%,
  _11: 25%,
  _12: 20%
);
@for $i from 1 through $columns {
  .width-#{map-get($col, _#{$i})} {
    width: #{map-get($colwidth, _#{$i})};
    float: left;
  }
}
input.width-100    { width: 98.6%; }
textarea.width-100 { width: 98.8%; }
select.width-100  { width: 99.4%; }
input[class*="width-"] {
  float: none;
}

.clearfix {
   @include pie-clearfix;
}
.row {
  @extend .clearfix;
}
/* Color */
.aquamarine { background-color: $colorAquamarine;}
.fiord { background-color: $colorFiord;}
.lochmara { background-color: $colorLochmara;}
.atlantis { background-color: $colorAtlantis;}
.yellow-orange { background-color: $colorYellowOrange;}
.carnation { background-color: $colorCarnation;}
.amethyst { background-color: $colorAmethyst;}

.gradient-primary { @include gradient-primary;}
.gradient-secondary { @include gradient-secondary;}

.graylightest { background-color: $colorGrayLightest;}
.graylighter { background-color: $colorGrayLighter;}
.graylight { background-color: $colorGrayLight;}
.gray { background-color: $colorGray;}
.graydark { background-color: $colorGrayDark;}
.graydarker { background-color: $colorGrayDarker;}
.graydarkest { background-color: $colorGrayDarkest;}

/* Button */
.button, button {
  // reset a teg
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  color: $colorPrimaryA;
  text-align: center;
  padding: .825rem 2.5rem .825rem 2.5rem;
  @include border-radius(3px);
  @include transition(all ease .4s);
  &:hover {
    background-color: transparent;
    @include box-shadow(0 .25em .5em rgba($colorGrayDarkest,.5))
  }
}
.pill {
  border-radius: 25px;
}
.stroke {
  @include button-stoke;
}
.fill {
  @include button-fill;
  &:hover {
    @extend .stroke;
  }
}
.gradient {
  &.fill {
    @include button-fill;
    @include border-gradient($GradientAStart, $GradientAEnd, 1px);
    @include gradient-primary;
    &:hover {
      @include button-fill;
    }
  }
  &.stroke {
    @include button-stoke;
    @include box-gradient($GradientAStart, $GradientAEnd, 1px);
    border-width: 0;
  }
}

/* Tab */
.tab {
  .row {
    margin: 0;
  }
}
.tabs {
  @include reset-box-model;
  @include reset-list-style;
  text-align: center;
  font-size: 0;
  background-color: white;
  .tab-title {
    display: inline-block;
    a {
      display: block;
      outline: none;
      text-decoration: none;
      font-style: normal;
      text-align: center;
      @include transition(all ease .4s);
      padding: 30px 66px;
      color: $colorPrimaryA;
      &:hover {
        background: $colorGrayLighter;
      }
    }
  }
  .current {
    a, a:hover {
      color: $colorGrayLightest;
      background-color: $colorPrimaryA;
      border-bottom: 2px solid darken($colorPrimaryA, 5%);
    }
  }
}
.tabs-content {
  padding: 20px;
  border-top: 2px solid $colorGrayLighter;
  margin-top: -2px;
}
.tabs-item {
  display: none;
  &:first-child {
    display: block;
  }
}

/* Form */
button.button {
  @include link;
}
.forms label {
  display: block;
  margin-bottom: $fieldsBottom;
}
.error,
.success,
.warning {
  font-size: $smallFontSize;
}
.error {
  color:  $colorSecondaryR;
}
.success {
  color: $colorSecondaryG ;
}
.warning {
  color: $colorSecondaryY;
}

/* StyleGuide */
.style-guidelins {
  hr {
    border: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-top-color: $colorGrayLighter;
    margin-top: $beta ;
    margin-bottom: $beta ;
  }
  code {
    font-size: ($baseFontSize * .8) * 1px;
    color: darken($colorSecondaryR, 20%);
    @include border-radius(2px);
    @include box-shadow(0 0 5px $colorGrayLighter inset);
    background-color: $colorGrayLightest;
    padding: .15em .5em;
    &.class {
      @extend %lowercase;
    }
  }
  .row {
    @include container;
  }
  &.wrapper-container {
    @include container;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  .sidebar {
    @include span(3 of 12);
    background-color: #f9f9f9;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $colorPrimaryA;
    }
  }
  .categories {
    @include reset-list-style;
    @include reset-box-model;
  }
  %selected {
    background-color: white;
    border-left: 4px solid $peach;
  }
  .categor__item {
    a {
      display: block;
      padding: 15px 40px;
      font-weight: 400;
      border-bottom: 1px solid white;
      color: $colorGrayDarker;
      border-left: 0px solid $peach;
      font-style: normal;
      text-decoration: none;
      cursor: pointer;
      @include transition(all ease .4s);
      &:hover, &:active, &:focus {
        @extend %selected;
      }
    }
  }
  .main-content {
    @include span(9 of 12 last);
    padding-top: $beta * 2;
  }
  .page-title {
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 15px 60px;
    width: 100%;
    top:0;
    left: 25%;
    @include box-shadow(0 1px 1px rgba($colorGray, 0.25));
    h1 {
      font-size: 24px;
    }
  }
  .logo {
    img {
      width: 50%;
      margin: 10% 25%;
      border-radius: 100%;
    }
    border-bottom: 1px solid white;
  }
  .separator {
    padding: 0 .5em 0 .5em;
  }
  .material {
    @extend %pd-t-b-epsilon;
    padding-top: $beta * 2;
    position: relative;
    z-index: 0;
    padding-left: 60px;
    padding-right: 60px;
    h1 {}
    h2 {
      font-size: 36px;
      color: $colorPrimaryA;
      padding-bottom: $theta;
    }
    h3 {
      font-size: 20px;
    }
    h6 {
      font-size: 13px;
    }
  }

  //COLOR
  #color {
    .row + h3 {
      margin-top: $zeta;
    }
    .color-block {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 5px 0;
      float: left;
    }
    .row {
      @extend .pd-t-b-zeta;
    }
    .color-primary {
      .color-item {
        @include span(1 of 4);
      }
    }
    .color-secondary {
      .color-item {
        @include span(1 of 5);
      }
    }
    .color-gray {
      .color-item {
        @include span(1 of 7);
      }
    }
  }

  //TYPOGRAPHY
  #typography {
    .row {
      @extend %pd-t-b-theta;
    }
    .h1 {
      @include heading1;
      color: $colorBody;
    }
    .h2 {
      @include heading2;
      color: $colorBody;
    }
    .h3 {
      @include heading3;
      color: $colorBody;
    }
    .p {
      @include span(1 of 2);
      @include base-font;
    }
    .a {
      @include link;
    }
  }

  // Grid
  #grid {
    .row {
      padding-top: $theta;
      padding-bottom: $theta;
      &+ h3 {
        margin-top: $zeta;
      }
    }
    .grid-show {
      background-color: rgba($colorPrimaryA, 0.05);
      border: 1px solid $colorPrimaryA;
      padding-top: $kappa;
      padding-bottom: $kappa;
    }
    [class^="col-"] {
      @extend .grid-show;
    }
    [class^="width-"] {
      @extend .grid-show;
    }
  }


  //BUTTON
  .button {
    &-item {
      @include span(1 of 4);
      code {
        @include clearfix;
        & + a {
          margin-top: 1em;
        }
      }
    }
    & + .button {
      margin-top: 1em;
    }
  }

  //TABLE
  .table {
    &-item {
      @include span(1 of 4);
      code {
        @include clearfix;
      }
    }
  }

  //TABLE
  .form {
    &-item {
      @include span(1 of 3);
    }
  }
}




