.material.buttons
  h2 Button
  .row
    .col-xs-3
      a.button.stroke(href="javascript:;") 線框按鈕
      br
      a.button.fill(href="javascript:;") 填色按鈕
    .col-xs-3
      a.button.pill.stroke(href="javascript:;") 線框圓按钮
      br
      a.button.pill.fill(href="javascript:;") 填色圓按鈕
    .col-xs-3
      a.button.stroke.gradient(href="javascript:;") 線框按鈕
      br
      a.button.fill.gradient(href="javascript:;") 填色按鈕
    .col-xs-3
      a.button.pill.stroke.gradient(href="javascript:;") 線框圓按钮
      br
      a.button.pill.fill.gradient(href="javascript:;") 填色圓按鈕
