.material#button
  h2 Button
  .row
    .button-item
      a.button.stroke(href="javascript:;") 線框按鈕
      code .button.stroke
      a.button.fill(href="javascript:;") 填色按鈕
      code .button.fill
    .button-item
      a.button.pill.stroke(href="javascript:;") 線框圓按钮
      code .button.pill.stroke
      a.button.pill.fill(href="javascript:;") 填色圓按鈕
      code .button.pill.fill
    .button-item
      a.button.stroke.gradient(href="javascript:;") 線框按鈕
      code .button.stroke.gradient
      a.button.fill.gradient(href="javascript:;") 填色按鈕
      code .button.fill.gradient
    .button-item
      a.button.pill.stroke.gradient(href="javascript:;") 線框圓按钮
      code .button.pill.stroke.gradient
      a.button.pill.fill.gradient(href="javascript:;") 填色圓按鈕
      code .button.pill.fill.gradient
