.material.color
  h2 Color 顏色
  h3 PRIMARY 主色
  .row.color-primary
    .color-item
      h6
        code.class .aquamarine
        br
        code #25D0C3
      .color-block.aquamarine
    .color-item
      h6
        code.class .fiord
        br
        code #3D4B66
      .color-block.fiord
    .color-item
      h6
        code.class .gradient-primary
        br
        code #00A9EA
        span.separator |
        code #01DBB0
      .color-block.gradient-primary
    .color-item
      h6
        code.class .gradient-secondary
        br
        code #A234D5
        span.separator |
        code #D74059
      .color-block.gradient-secondary
  h3 SECONDARY 輔助色
  .row.color-secondary
    .color-item
      h6
        code.class .lochmara
        br
        code #A2D145
      .color-block.lochmara
    .color-item
      h6
        code.class .atlantis
        br
        code #3D4B66
      .color-block.atlantis
    .color-item
      h6
        code.class .yellow-orange
        br
        code #FFB53A
      .color-block.yellow-orange
    .color-item
      h6
        code.class .carnation
        br
        code #F84F64
      .color-block.carnation
    .color-item
      h6
        code.class .amethyst
        br
        code #A93ABA
      .color-block.amethyst
  h3 Gray 灰阶
  .row.color-gray
    .color-item
      h6
        code.class .graylightest
        br
        code #f9fafb
      .color-block.graylightest
    .color-item
      h6
        code.class .graylighter
        br
        code #dbdfe6
      .color-block.graylighter
    .color-item
      h6
        code.class .graylight
        br
        code #b7becd
      .color-block.graylight
    .color-item
      h6
        code.class .gray
        br
        code #939eb3
      .color-block.gray
    .color-item
      h6
        code.class .graydark
        br
        code #6f7d9a
      .color-block.graydark
    .color-item
      h6
        code.class .graydarker
        br
        code #546078
      .color-block.graydarker
    .color-item
      h6
        code.class .graydarkest
        br
        code #3B4354
      .color-block.graydarkest
