.material#grid
  h2 Grid System
  h3 col
  .row
    .grid-item
      - for (var x = 1; x <= 12; x++)
        .col-1
          code .col-1
      //
      .col-2
        code .col-2
      .col-4
        code .col-4
      .col-6
        code .col-6
      //
      .col-3
        code .col-3
      .col-6
        code .col-6
      .col-3
        code .col-3
      //
      .col-2
        code .col-2
      .col-8
        code .col-8
      .col-2
        code .col-2
      //
      .col-3
        code .col-3
      .col-9
        code .col-9
      //
      .col-4
        code .col-4
      .col-8
        code .col-8
      //
      .col-5
        code .col-5
      .col-7
        code .col-7
      //
      .col-6
        code .col-6
      .col-6
        code .col-6
  h3 width
  .row
    .grid-item
      .width-100
        code .width-100
      //
      .width-80
        code .width-80
      .width-20
        code .width-20
      //
      .width-75
        code .width-75
      .width-25
        code .width-25
      //
      .width-66
        code .width-66
      .width-33
        code .width-33
      //
      .width-60
        code .width-60
      .width-40
        code .width-40
      //
      .width-50
        code .width-50
      .width-50
        code .width-50
      //
      .width-33
        code .width-33
      .width-33
        code .width-33
      .width-33
        code .width-33
