.material#list
  h2 List
  .row
    .col-xs-2.lochmara
      ul.styled-list
        li Item 1
        li Item 2
        li Item 3
    .col-xs-2.atlantis
      ul.styled-list
        li Item 1
        li Item 2
        li Item 3
    .col-xs-2.yellow-orange
      ul.styled-list
        li Item 1
        li Item 2
        li Item 3
    .col-xs-2.carnation
      ul.styled-list
        li Item 1
        li Item 2
        li Item 3
    .col-xs-2.amethyst
      ul.styled-list
        li Item 1
        li Item 2
        li Item 3
