.sidebar
  .logo
    img(src="images/newdefrend__brand-logo-3.4.2_a-1.png")
  nav
    ul.categories
      li.categor__item
        a(href="#intro") Intro
      li.categor__item
        a(href="#color") Color
      li.categor__item
        a(href="#typography") Typography
      li.categor__item
        a(href="#buttons") Button
      li.categor__item
        a(href="#list") Icon
      li.categor__item
        a(href="#tab") Tabs
      li.categor__item
        a(href="#table") Table
      li.categor__item
        a(href="#form") Form
