mixin table-content
  thead
    tr
      th 编号
      th 目录
      th 详细
  tbody
  - for (var x = 1; x <= 4; x++)
    tr
      td #{x}
      td
      td

.material#table
  h2 Table
  .row
    .table-item
      table.table-bordered
        +table-content
      code .table-bordered
    .table-item
      table.table-stroked
        +table-content
      code .table-stroked
    .table-item
      table.table-striped
        +table-content
      code .table-striped
    .table-item
      table.table-hovered
        +table-content
      code .table-hovered
