.material.tab
  h2 Tab
  .row
    .tab-item
      ul.tabs(data-tab="")
        - for (var x = 1; x <= 4; x++)
          li.tab-title
            a(href="javascript:;")  Tab #{x}
      .tabs-content
        - for (var x = 1; x <= 4; x++)
          .tabs-item
            | #{x}
