.material#typography
  h2 Typography 字型字級
  h3 字级范例
  .row
    h6
      code h1
      | &nbsp;- Header / Important Content
  .row
    .h1 标题文字 Heading h1
  .row
    h6
      code h2
      | &nbsp;- Subhead
    .h2 副标题文字 Subhead h2
  .row
    h6
      code h3
      | &nbsp;- Section Title
    .h3 区块标题文字 Section Title h3
  .row
    h6
      code p
      | &nbsp;- Body
    .p p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字, p标签段落文字...
  .row
    h6
      code a
      | - Link
    .a 更多...
  .row
    table.table-stroked
      thead
        tr
          th tag 标签
          th
            code font-size
            | &nbsp;- 字级
          th
            code line-height
            | &nbsp;- 行高
          th
            code font-weight
            | &nbsp;- 粗细
          th 其他样式
      tbody
        tr
          td
            code h1
          td 48px
          td 1.125 (54px)
          td 700
          td -
        tr
          td
            code h2
          td 36px
          td 1.167 (42px)
          td 300
          td -
        tr
          td
            code h3
          td 28px
          td 1.286 (36)
          td 600
          td -
        tr
          td
            code h4
          td 23px
          td 1.391 (32)
          td 600
          td -
        tr
          td
            code h5
          td 20px
          td 1.5 (30)
          td 600
          td -
        tr
          td
            code h6
          td 16px
          td 1.624 (26)
          td 600
          td -
        tr
          td
            code p
          td 14px
          td 1.5 (21)
          td 400
          td -
        tr
          td
            code a
          td 16px
          td -
          td -
          td
            code font-style: italic; text-decoration: underline
