$alpha     : 42px;
$beta      : 32px;
$gamma     : 28px;
$delta     : 26px;
$epsilon   : 24px;
$zeta      : 20px;
$eta       : 18px;
$theta     : 15px;
$iota      : 14px;
$kappa     : 12px;

// ------------------------------------------------------------
// :: Color
// ------------------------------------------------------------
$pink:rgb(52,207,194);
$peach: rgb(52,207,194);
$orange: rgb(52,207,194);
$light-pink: rgb(52,207,194);
$plum: rgb(52,207,194);
$grey: rgb(52,207,194);

$colorAquamarine    : #25D0C3;
$colorFiord         : #3D4B66;
$colorLochmara      : #0082D5;
$colorAtlantis      : #A2D145;
$colorYellowOrange  : #FFB53A;
$colorCarnation     : #F84F64;
$colorAmethyst      : #A93ABA;
$colorCerulean      : #00A9EA;
$colorPurpleHeart   : #01DBB0;
$colorCaribbeanGreen: #A234D5;
$colorCabaret       : #D74059;
$colorGrey          : #3B4354;


$colorPrimaryA      : $colorAquamarine;
$colorPrimaryB      : $colorFiord;

$GradientAStart     : $colorCerulean;
$GradientAEnd       : $colorPurpleHeart;
$GradientBStart     : $colorCaribbeanGreen;
$GradientBend       : $colorCabaret;

$colorSecondaryB    : $colorLochmara;
$colorSecondaryG    : $colorAtlantis;
$colorSecondaryY    : $colorYellowOrange;
$colorSecondaryR    : $colorCarnation;
$colorSecondaryP    : $colorAmethyst;

$colorGrayLightest  : lighten($colorGrey, 70%);
$colorGrayLighter   : lighten($colorGrey, 60%);
$colorGrayLight     : lighten($colorGrey, 48%);
$colorGray          : lighten($colorGrey, 36%);
$colorGrayDark      : lighten($colorGrey, 24%);
$colorGrayDarker    : lighten($colorGrey, 12%);
$colorGrayDarkest   : $colorGrey;

$baseFontFamily: 'Microsoft Yahei','Hiragino Sans GB','WenQuanYi Micro Hei', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
// Type
$baseFontSize   : 14;
$baseLineHeight : 1.5;
$smallFontSize  : $baseFontSize * 0.8 *1px;

$baseLine     : $baseFontSize * $baseLineHeight;
$px: 'px';

$tfootBackgroundColor: $colorGrayLightest;
$colorStripedTable: $colorGrayLighter;
$colorHoveredTable: lightne($colorPrimaryA,50%);
$cellBorder: 1px;
$columnarWidth: 150px;
$columnarMargin: 20px;
$inputFontFamily: $baseFontFamily;
$colorBody: $colorGrayDarker;

// Grid
$gridWidth: 1000;
$gridGutterWidth: 30;
