doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title JJ
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="scripts/app.js")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | 你使用的浏览器过于 <strong>老旧</strong> .
      | 请 <a href="http://browsehappy.com/">更新你的浏览器</a>
      | 确保画面正常显示.
    <![endif]-->

    div.container
      :markdown
        Start.
