doctype html
html(lang="zh")
  head
    meta(charset='zh-cmn-Hans')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title NewDefend Style Guidelines
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" type="image/png" href="./images/favicon.png")
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    block content
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="scripts/app.js")
